auth_enabled: false

server:
  http_listen_port: 3100
  
ingester:
  lifecycler:
    ring:
      replication_factor: 1
      kvstore:
        store: inmemory
  chunk_idle_period: 5m
  max_chunk_age: 1h
  wal:
    enabled: false

schema_config:
  configs:
    - from: 2024-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
  filesystem:
    directory: /loki/chunks

limits_config:
  max_streams_per_user: 20000
  volume_enabled: true

table_manager:
  retention_deletes_enabled: true
  retention_period: 24h

compactor:
  working_directory: /tmp/compactor

